html, body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#app{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header{
    display: block;
    height: 7vh;
    width: 100%;
    margin: 0;
    border: 0;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
}

#exclusiveToggle {
    border: none;
    background: white;
    padding: 0.75rem 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.60rem;
    font-weight: 600;
    color: #111;
    transition: transform 200ms ease, box-shadow 200ms ease, background 200ms ease;
}

#exclusiveToggle:focus-visible {
    outline: 3px solid #2563eb;
    outline-offset: 4px;
}

#exclusiveToggle .toggleLabel {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    color: black;
}

#exclusiveToggle .toggleState {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    min-width: 2.5rem;
    text-align: center;
    transition: color 200ms ease;
}

#exclusiveToggle .toggleVisual {
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 999px;
    background: linear-gradient(120deg, #d1d5db, #9ca3af);
    overflow: hidden;
    transition: background 250ms ease;
}

#exclusiveToggle .toggleKnob {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 250ms ease;
}

#exclusiveToggle.is-on {
    background: white;
}

#exclusiveToggle.is-on .toggleState {
    color: #34d399;
}

#exclusiveToggle.is-on .toggleVisual {
    background: linear-gradient(120deg, #34d399, #10b981);
}

#exclusiveToggle.is-on .toggleKnob {
    transform: translateX(24px);
}

main {
    height: 80%;
    width: 100%;
    border: 0;
}

footer {
    display: flex;
    height: 10%;
    border-top: 2px solid black;
}

#footer_bar_credit {
    display: flex;
    width: 80%;
    height: 7vh;
    border-right: 2px solid black;
    background-color: white;
}

#footer_bar_tools{
    display: flex;
    width: 20%;
    height: 7vh;
    border: 0px;
    flex-direction: row-reverse;
    background-color: white;
}

#label_resolution {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
#resolutionSelect {
    margin-top: 0.5em;
    margin-right: 10px;
}

#logo {
    height: 50%;
    margin: 0.5em;
    padding-left: 15px;
    padding-right: 20px;
    border-right: 1px solid black;
}
#logo_label {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50%;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 10px;
    border-right: 1px solid black;
}

.countersWrapper_general {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

}





.styte_rank{
    width: 20%;
    max-width: 30%;
    min-width: 10%;
    height: 86vh;
    text-align: center;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-right: 2px solid black;
}

.style_timer{
    width: 80%;
    max-width: 90%;
    min-width: 60%;
    height: 86vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


.countersWrapper_timer_display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 100%;
    width: 100%;

}

.counterContainer {
    align-content: center;
    height: 300px;
    width: 300px;
    max-height: 300px;
    max-width: 300px;
    margin: 20px;
    background-color: white;
}

.input_timer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    max-height: 50px;
    max-width: 300px;
}
.label_timer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 300px;
    max-height: 130px;
    max-width: 300px;
    border-bottom: 1px solid black;
}
.button_timer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 300px;
    max-width: 300px;
    max-height: 130px;
    margin-top: 0px;
}

input {
    border: 0;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    width: 300px;
    height: 50px;
}

.counterstyle {
    font-weight: bold;
    font-size: 35px;
    
}

.button_hidden {
    display: none;
}

.button_play_style{
    background-color: transparent;
    border: 2px solid #04AA6D;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    float: inline-end;
    padding-top: 5px;
}







.style_title{
    size: 40px;
    font-weight: bold;
    padding: 10px;
}

button {
    font-size: 20px;
    cursor: pointer;
}


select {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
}






th {
    display: none;
    padding: 15px;
    text-align: center;
  } 

td {
    font-size: 15px;
}  

td:first-child {
    padding: 15px;
    text-align: left;
    width: 6vw;
    max-width: 6vw;
    border-bottom: 1px solid green;
  }

td:last-child {
    padding: 15px;
    width: 3vw;
    max-width: 3vw;
    text-align: right;
    font-weight: bold;
    border-bottom: 1px solid rgb(128, 0, 0);
  }


#rankingTable {
    width: 80%;
    max-width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

#reset_all_timer {
    padding: 2%;
    margin: 20px;
}


@media only screen and (min-width: 960px) and (max-width: 1599px) {
    /* ruleset for 320px - 480px */
    .counterContainer {
        height: 200px;
        width: 300px;
        margin: 20px;
    }


    .input_timer_content {
        height: 40px;
        width: 200px;
    }

    .label_timer_content {
        height: 80px;
        width: 200px;
    }

    .button_timer_content{
        height: 80px;
        width: 200px;
        margin-top: 5px;
    }

    .button_play_style {
        font-size: 15px;
        height: 75px;
    }

    input {
        font-size: 13px;
        height: 35px;
        width: 200px;
    }

    .counterstyle {
        font-size: 25px;
    }

    td {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1600px) {
    /* ruleset for 320px - 480px */
}



